body {
    background-color: #A04747;
    font-family: "Protest Guerrilla", sans-serif;
    height: 100vh;
    display: grid;
    overflow: hidden;
}

.alerts {
    display: flex;
}

.alert {
    background-color: #ca7b19;
    border: solid;
    border-width: 1px;
}

#gameTable{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#gameTable tr td{
    border: 3px solid #D8A25E;
    background-color: #EEDF7A;
    width: 30px;
    height: 30px;
    text-align: center;
}

#gameTable tr td.active{
    background-color: #343131;
    color: #D8A25E;
}

#gameTable tr td.mine{
    background-color: #A04747;
    color: #343131;
}

button{
    margin: 15px 0;
    padding: 4px 0;
    cursor: pointer;
    border-color: #995d13;
    background-color: #ca7b19;
    border-radius: 5px;
    width: 150px;
}

button:hover {
    background-color: #b5711e;
}